#logo-seach-input-component {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  padding: 5px 40px;
  width: fit-content;

  button{
    height: 40px;
    width: 100px;
    background-color: rgb(191, 134, 0);
    border: 3px solid white;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.2s;

    &:hover{
      background-color: RGB(167, 117, 0);
    }
  }

  input{
    padding: 5px 10px 5px 35px;
    color: white;
    width: 100%;
    background-color: rgb(215, 150, 0);
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    background-image: url('../../../assets/search-icon-white.png');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border: none;
    height: 30px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: white;
    }
  }
}