#home-page{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    #container-home-left-side {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 700px;
        margin: 5px 10px 5px 5px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);


        #container-search-fields{
            display: flex;
            flex-direction: column;

            .container-search-fields-first-line{
                display: flex;
                flex-direction: column;
                margin: 20px 20px 5px 20px;
                color: rgb(41, 41, 41);
                font-weight: bold;
            }

            .container-search-fields-second-line{
                display: flex;
                flex-direction: column;
                margin: 5px 20px 5px 20px;
                color: rgb(41, 41, 41);
                font-weight: bold;
                
                .container-search-fields-second-line-buttons{
                    display: flex;
                    align-items: center;

                    input{
                        width: 100%;
                    }

                    .button-search-contact{
                        background-color: rgb(10, 116, 0);
                        height: 20px;
                        width: 20px;
                        border: none;
                        border-radius: 2px;
                        margin-left: 5px;
                    }

                    .button-add-contact{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(56, 56, 56);
                        height: 20px;
                        width: 20px;
                        border: none;
                        border-radius: 2px;
                        margin-left: 5px;
                        cursor: pointer;

                        &:hover{
                            background-color: rgb(0, 0, 0);
                        }

                        img{
                            height: 10px;
                            width: 10px;
                        }
                    }
                }
            }
        }

        .ul-contacts{
            list-style: none;

            padding: 20px;

            li{
                cursor: pointer;
                padding: 5px;

                &:hover{
                    background-color: rgb(59, 59, 59);
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    #container-home-right-side{
        display: flex;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 5px;
    }

    #container-home-top{
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: end;

        button{
            margin-right: 20px;
            margin-top: 20px;
            height: 40px;
            width: 100px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            border: 2px solid black;
            font-weight: bold;

            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
}