#home-page{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: red;

    #container-home-left-side{
        display: flex;
        height: 100vh;
        width: 300px;
        background-color: azure;
    }

    #container-home-top{
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: end;

        button{
            margin-right: 20px;
            margin-top: 20px;
            height: 40px;
            width: 100px;
            border-radius: 10px;
            border: none;
            cursor: pointer;

            &:hover{
                background-color: rgb(172, 172, 172);
            }
        }
    }
}